// COLORS
$color-1: #efdaf9;
$color-2: #7d5d66;
$color-3: #ffeff4;
$color-4: #c9ffc0;
$color-5: #8db386;

$color-black: #221e1b;
$color-white: #fff8ef;

// FONTS
$font-common: 'JetBrains Mono', monospace;
$font-title: 'Micronian 3D', sans-serif;

// MARGES AND SIZES
$padding: 20px;
$marge: $padding / 2;
$border-radius: 15px;
