// COLORS
$color-1: #ff4d67;
$color-2: #4DFF8C;
$color-black: #221e1b;
$color-white: #fff8ef;

// FONTS
$font-common: 'JetBrains Mono', monospace;
$font-title: 'Micronian 3D', sans-serif;

// MARGES AND SIZES
$marge: 25px;
$border-radius: 15px;
